.localhost unsuitable as default TLD in Chrome on macOS

In pull request #674 the default TLD changed from `.app` to `.localhost`. Unfortunately for us, Chrome (confirmed in M63) on macOS (confirmed in 10.12.6) will always resolve any `*.localhost` to the loopback interface, completely ignoring `/etc/hosts`. This makes `.localhost` fundamentally unsuitable for use in Homestead VMs with this browser/OS combo.

According to the Chromium team in [issue 489973](https://bugs.chromium.org/p/chromium/issues/detail?id=489973):

> This was done as a security mitigation, as OS X's resolver does not properly ensure that .localhost domains are not queried on the network, which is a key security property of ensuring .localhost is truely local. Because we can't trust the resolver to do the secure thing, we unfortunately can't trust the resolver (even when it may be secure)

Their decision is further backed up by [RFC 6761 § 6.3.3](https://tools.ietf.org/html/rfc6761#section-6.3):

> Name resolution APIs and libraries SHOULD recognize localhost names as special and SHOULD always return the IP loopback address for address queries and negative responses for all other query types.  Name resolution APIs SHOULD NOT send queries for localhost names to their configured caching DNS server(s).

We should select a different default TLD that does not have a requirement to resolve to the loopback and has no such special considerations. [RFC 2606 § 2](https://tools.ietf.org/html/rfc2606#section-2) lists:

> * .test
> * .example
> * .invalid
> * .localhost
>
> ".test" is recommended for use in testing of current or new DNS related code.
>
> ".example" is recommended for use in documentation or as examples.
>
> ".invalid" is intended for use in online construction of domain names that are sure to be invalid and which it is obvious at a glance are invalid.
>
> The ".localhost" TLD has traditionally been statically defined in host DNS implementations as having an A record pointing to the loop back IP address and is reserved for such use.  Any other use would conflict with widely deployed code which assumes this use.

Given these descriptions it would appear as if `.test` is the most suitable alternative.

Thanks @svpernova09

Thanks @kmark, good spot.

@CydeWeys My pleasure!